html {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Opcional: centra verticalmente también */
    height: 100%;
    margin: 0;
}

body {
    width: 85%;
    height: 100vh;
    justify-self: center;
    justify-content: center;
}

/* Section navBar */

#pInscripcion {
    width: 80%;
    justify-self: center !important;
}

#pInscripcion h2 {
    margin-top: 30px
}

#pInscripcion form {
    justify-content: space-evenly;
}

#btnGuardarAlumno {
    text-align: end;
}

#btnGuardarAlumno button {
    margin-top: 10px !important;
}

nav {
    background-color: #006A71 !important;
    border-radius: 5px;
    margin-bottom: 50px;
    margin-top: 50px;
    justify-content: center;
}

#btnH {
    background-color: rgb(248 249 250) !important;
}

#formSearch {
    margin-top: 0px;
}

#canvasHeader {
    padding-top: 30px;
}

.offcanvas-title {
    color: white !important;
}

.offcanvas-header {
    background-color: #006A71;
}

#offcanvasNavbar {
    background-color: #F2EFE7;
}

.nav-link {
    color: black !important; 
}

.dropdownClass {
    background-color: #48A6A7 !important;
}

.dropdownClass li a:hover {
    background-color: #006A71;
}

.dropdown-item {
    color: white !important;
}

/* Section pInscripcion */

.form-control {
    background-color: #F2EFE7 !important;
}

#thDataGrid th{
    background-color: #F1EFEC !important;
}


.sortable {
    cursor: pointer;
}